<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.moose.provider.sms.mapper.SmsCodeMapper">
  <resultMap id="BaseResultMap" type="org.moose.provider.sms.model.domain.SmsCodeDO">
    <id column="id" property="smsId" jdbcType="BIGINT"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="verify_code" property="verifyCode" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="VARCHAR"/>
    <result column="sms_token" property="smsToken" jdbcType="INTEGER"/>
    <result column="expired_time" property="expiredTime" jdbcType="DATE"/>
    <result column="create_time" property="createTime" jdbcType="DATE"/>
    <result column="update_time" property="updateTime" jdbcType="DATE"/>
  </resultMap>

  <sql id="Base_Column">
    id, phone, verify_code, type, sms_token, expired_time, create_time, update_time
  </sql>

  <insert id="insert" parameterType="org.moose.provider.sms.model.domain.SmsCodeDO">
    INSERT INTO t_sms_code (id, phone, verify_code, type, sms_token, expired_time, create_time, update_time)
    VALUES (#{smsId}, #{phone}, #{verifyCode}, #{type}, #{smsToken}, #{expiredTime}, #{createTime}, #{updateTime})
  </insert>

  <select id="findSmsCodePhoneVerifyCodeSmsTokenNotExpired"
      parameterType="org.moose.provider.sms.model.domain.SmsCodeDO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column"/>
    FROM t_sms_code WHERE
    phone=#{phone} AND
    type=#{type} AND
    verify_code=#{verifyCode} AND
    sms_token=#{smsToken}
  </select>
</mapper>
