<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.moose.account.mapper.PasswordMapper">
  <resultMap id="BaseResultMap" type="org.moose.account.model.domain.PasswordDO">
    <id column="id" property="passwordId" jdbcType="VARCHAR"/>
    <result column="account_id" property="accountId" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="DATE"/>
    <result column="update_time" property="updateTime" jdbcType="DATE"/>
  </resultMap>

  <sql id="Base_Column">
    id, account_id, password, create_time, update_time
  </sql>

  <insert id="insert" useGeneratedKeys="true" keyProperty="passwordId">
    INSERT INTO
    t_password(id, account_id, password, create_time, update_time)
    VALUES (#{passwordId}, #{accountId}, #{password}, #{createTime}, #{updateTime})
  </insert>

  <select id="findByAccountId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column"/>
    FROM t_password WHERE account_id = #{accountId}
  </select>

</mapper>
