<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moose.provider.account.mapper.RoleMapper">

  <resultMap id="BaseResultMap" type="org.moose.provider.account.model.domain.RoleDO">
    <id column="id" property="roleId" jdbcType="BIGINT"/>
    <result column="account_id" property="accountId" jdbcType="VARCHAR"/>
    <result column="role" property="role" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="DATE"/>
    <result column="update_time" property="updateTime" jdbcType="DATE"/>
  </resultMap>

  <sql id="Base_Column">
    id, account_id, role, create_time, update_time
  </sql>

  <insert id="insert" useGeneratedKeys="true" keyProperty="roleId"
      parameterType="org.moose.provider.account.model.domain.RoleDO">
    INSERT INTO
    t_role(id, role, account_id, create_time, update_time)
    VALUES (#{roleId}, #{role}, #{accountId}, #{createTime}, #{updateTime})
  </insert>

  <select id="findRoleByAccountId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT
    <include refid="Base_Column"/>
    FROM t_role
    WHERE account_id=#{accountId}
  </select>


</mapper>
