<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moose.operator.mapper.AttachmentRecordMapper">

  <resultMap id="BaseResultMap" type="org.moose.operator.model.domain.AttachmentRecordDO">
    <result column="attach_id" jdbcType="VARCHAR" property="attachId"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="e_tag" jdbcType="VARCHAR" property="eTag"/>
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>

  <sql id="Base_Column">
    attach_id, user_id, file_url, e_tag, create_time
  </sql>

  <sql id="AttachIdColumn">attach_id</sql>

  <sql id="FileUrlColumn">file_url</sql>

  <select id="selectByUserIdAndAttachIdAndEtag" resultMap="BaseResultMap">
    SELECT
    <include refid="AttachIdColumn"/>
    FROM `t_attachment_record` WHERE `user_id`=#{userId} and `attach_id`=#{attachId} and
    `e_tag`=#{eTag}
  </select>

  <select id="selectByAttachId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column"/>
    FROM `t_attachment_record` WHERE `attach_id`=#{attachId}
  </select>

  <select id="selectFileUrlByAttachId" resultMap="BaseResultMap">
    SELECT
    <include refid="FileUrlColumn"/>
    FROM `t_attachment_record` WHERE `attach_id`=#{attachId}
  </select>

  <insert id="batchInsertAttachmentRecord" parameterType="java.util.List">
    INSERT INTO `t_attachment_record`(attach_id, user_id, e_tag, file_url)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.attachId}, #{item.userId}, #{item.eTag}, #{item.fileUrl})
    </foreach>
  </insert>

</mapper>