<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moose.operator.mapper.DynamicRecordAttachmentRelationMapper">
  <resultMap id="BaseResultMap"
      type="org.moose.operator.model.domain.DynamicRecordAttachmentRelationDO">
    <id column="dra_id" property="draId"/>
    <result column="attach_id" jdbcType="VARCHAR" property="attachId"/>
    <result column="dr_id" jdbcType="VARCHAR" property="drId"/>
  </resultMap>

  <sql id="Base_Column">
    attach_id, dr_id
  </sql>

  <insert id="batchInsertDynamicRecordRelation">
    INSERT INTO `t_dynamic_record_attachment_relation`(dra_id, attach_id, dr_id)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.draId}, #{item.attachId}, #{item.drId})
    </foreach>
  </insert>

  <select id="selectByDynamicRecordId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column"/>
    FROM `t_dynamic_record_attachment_relation` WHERE `dr_id`=#{drId}
  </select>

</mapper>
