<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moose.operator.mapper.DynamicRecordMapper">

  <resultMap id="BaseResultMap" type="org.moose.operator.model.domain.DynamicRecordDO">
    <result column="dr_id" jdbcType="VARCHAR" property="drId"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

    <association
        property="author"
        column="user_id"
        javaType="org.moose.operator.model.domain.UserInfoDO"
        select="org.moose.operator.mapper.UserInfoMapper.findUserBaseInfoByUserId"/>

    <collection property="fileRecords" ofType="org.moose.operator.model.domain.FileRecordDO">
      <id column="fr_id" property="frId"/>
      <result column="e_tag" jdbcType="VARCHAR" property="eTag"/>
      <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
    </collection>
  </resultMap>

  <resultMap id="MyDynamicBaseResultMap" type="org.moose.operator.model.domain.DynamicRecordDO">
    <result column="dr_id" jdbcType="VARCHAR" property="drId"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <collection property="fileRecords" ofType="org.moose.operator.model.domain.FileRecordDO">
      <id column="fr_id" property="frId"/>
      <result column="e_tag" jdbcType="VARCHAR" property="eTag"/>
      <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
    </collection>
  </resultMap>

  <sql id="Base_Column">
    dr_id, user_id, title, content, create_time
  </sql>

  <select id="selectByUserId" resultMap="MyDynamicBaseResultMap">
    SELECT
      dynamic_record.dr_id dr_id,
      dynamic_record.user_id user_id,
      dynamic_record.title,
      dynamic_record.content,
      dynamic_record.create_time,
      file_record.file_url file_url,
      file_record.fr_id fr_id,
      file_record.e_tag e_tag
    FROM
      t_dynamic_record dynamic_record,
      t_dynamic_record_attachment_relation dynamic_record_attachment_relation,
      t_file_record file_record
    WHERE
      dynamic_record.dr_id = dynamic_record_attachment_relation.dr_id
      AND dynamic_record_attachment_relation.fr_id = file_record.fr_id
      AND dynamic_record.user_id=#{userId}
    ORDER BY
      dynamic_record.create_time DESC
  </select>

  <select id="selectBaseDynamicRecordInfo" resultMap="BaseResultMap">
    SELECT dr.dr_id, dr.user_id, dr.title, dr.content, dr.create_time FROM `t_dynamic_record` dr
    ORDER BY `create_time` DESC
  </select>

  <select id="selectDynamicRecordWithAssociationInfo" resultMap="BaseResultMap">
    SELECT
      dynamic_record.dr_id dr_id,
      dynamic_record.user_id user_id,
      dynamic_record.title,
      dynamic_record.content,
      dynamic_record.create_time,
      file_record.file_url file_url,
      file_record.fr_id fr_id,
      file_record.e_tag e_tag
    FROM
      t_dynamic_record dynamic_record,
      t_dynamic_record_attachment_relation dynamic_record_attachment_relation,
      t_file_record file_record
    WHERE
      dynamic_record.dr_id = dynamic_record_attachment_relation.dr_id
      AND dynamic_record_attachment_relation.fr_id = file_record.fr_id
    ORDER BY
      dynamic_record.create_time DESC
  </select>

  <insert id="insertDynamicRecord" parameterType="org.moose.operator.model.domain.DynamicRecordDO">
    INSERT INTO `t_dynamic_record`(dr_id, user_id, title, content)
    VALUES (#{drId}, #{userId}, #{title}, #{content})
  </insert>

</mapper>